body {
  margin: 33px;
  font-size: 13px;
  line-height: 18px;
  font-family: verdana, arial, helvetica, sans-serif;
}

p {
  margin: 33px;
}

.start:visited {
  color: #666;
}

.start {
  color: #000;
}